/* Element Selectors */
/* h1 {
  color: blue;
}
h2 {
  color: chartreuse;
}
p {
  color: cyan;
} */
/* group selectors*/
/* body {
  color: darksalmon;
}
h1,
h2 {
  color: deeppink;
} */
/* ID */
/* #heading {
  color: dodgerblue;
  background: gainsboro;
}
#subheading {
  color: gold;
  background: greenyellow;
} */
/* Class Selectors */
/* .heading {
  font-size: 2px;
  font-family: Arial, Helvetica, sans-serif;
} */
/* Div for block elements and Span for inline elements */
/* Inheritence */
/* last rule specificity   * universal selector */

/* Inline styles - Example: <h1 style="color: pink;">
IDs - Example: #navbar
Classes, pseudo-classes, attribute selectors - Example: .test, :hover, [href]
Elements and pseudo-elements - Example: h1, :before */

/* Color and background color according to rgb  */
/* #heading {
  color: rgb(100, 24, 100);
  background: rgb(255, 26, 98);
}
#subheading {
  color: gold;
  background: rgba(28, 55, 173, 0.897);
} */
/* body {
  color: rgb(255, 255, 0);
  background: rgb(100, 100, 100);
} */
/* Color according to rgba values 0-1 for opacity/transparency */
/* #heading {
  color: rgba(255, 0, 255, 0.3);
  background: rgba(0, 0, 0, 0.1);
}

body {
  background: rgba(100, 100, 100, 0.5);
} */
/* hsl -hue saturation lightness
hex values from 1 to 15 placed in 6digits
123456789 10(A) 11(B) 12(C) 13 (D) 14(E) 15(F)
Red ff0000 Green 00ff00 Blue 0000ff */
/* body {
  background: #555555;
} */

/* fontsize,width,height and pixels */
/* h1 {
  font-size: 30px;
  width: 400px;
  background-color: cornflowerblue;
} */
#heading {
  font-size: 80px;
  width: 460px;
  background-color: greenyellow;
}
#subheading {
  font-size: 100px;
  width: 500px;
  background-color: indigo;
}
/* units in css */
/* percent -relative depends on parent container
em -relative depends on parent container
1em=16px default by browser
rem-relative depends on root container for ex:html tag
1rem=16px default by browser */
/* vw and vh--percent of screen used for image banners */
/* .header {
  width: 100vw;
  height: 100vh;
  background: red;
}
.banner {
  width: 50vw;
  height: 50vh;
  background: greenyellow;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* calc function for min/max mix and match with +,-,* */
.nav {
  color: honeydew;
  height: 100px;
  background-color: blue;
  font-size: 3rem;
}
* {
  margin: 0;
}
.banner {
  background-color: red;
  min-height: calc(100vw - 100px);
}
/* Typography,Fontstacks generic families  */
/* .hippo {
  font-family: cursive;
  font-weight: bolder;
  font-style: oblique;
} */
/* .typo {
  line-height: 1em;
  letter-spacing: 1px;
  word-spacing: 1em;
  text-transform: capitalize;
  text-decoration: underline;
} */
/* CSS Models
padding,margin,border,outline,offset */
/* display properties */
/* display:block,inline,inline-block,flex */
/* inline elements dont have priority to be supported for margin topbottom and padding topbottom
inorder to overcome this,inline-block value is used */
/* box-sizing:border-box,display:none,opacity,visibility:hidden */
/* background-image,repeat,position,attachment */
/* last rule set means the property which was recently added in selector lists */
/* background shorthand */
/* as in w3schools order as follows
background-color
background-image
background-repeat
background-attachment
background-position */
/* in tuts
linearGradient
background-image
background-position
background-size
background-repeat
background-attachment */
/* Float,clear and overflow props */
/* css positions-static,relative,absolute,fixed,sticky
media queries-for responsive websites(mobile first approach)
min-width:starting form
max-width:upto
z-index-used for changing z-axis planes(only used when positioning except in static position) */
/* ::after and ::before for contents not elements 
not useful for image  */
/* css selectors
descendant and child combinators */
/* .heading h1 {
  color: gainsboro;
}
div h1 {
  color: aqua;
}
div > h1 {
  color: maroon;
} */
/* pseudo class selectors
::first-letter,::first-line
in links :hover,:link,:active,:visited */
/* a:visited {
  color: green;
}
a:hover {
  text-decoration: none;
} */
/* :root defines the root element of the html page and when changes made in root changes the default stylings */
/* :root {
  background-color: blueviolet;
} */
p::first-line {
  text-transform: capitalize;
}
p::first-letter {
  font-size: 40px;
}
/* transform:translate(units used),scale(no units),rotate(deg),skew(deg) */
/* div {
  width: 150px;
  height: 150px;
  display: inline-block;
}
.translate {
  background-color: blue;
  transform: scaleX(5);
}
.rotate {
  background-color: greenyellow;
  transform: rotateZ(45deg);
}
.skew {
  background-color: black;
  transform: skewX(45deg);
} */
/* Transition-transition property,duration,delay */
